<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Le Film</title>
  </head>
  <body>
    <h1><%=film.title%></h1>
    <img src="<%=film.poster%>" alt="">
    <p><%=film.year%></p>
    <p><%=film.description%></p>
  </body>
</html>
